* {
    margin: 0;
    padding: 0;
}

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}
main {
    max-width: 500px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
}
.mobile-version {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}
.desktop-version {
    display: none;
}
@media screen and (min-width: 800px) {
    main {
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 100px rgb(0, 0, 0, 0.5);
    }
    .mobile-version {
        display: none;
    }
    .desktop-version {
        display: block;
        max-width: 300px;
        border-radius: 10px 0 0 10px;
    }
}
.details {
    padding: 0 25px;
    padding-bottom: 25px;
}
.perf {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
}
.details h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    line-height: 2rem;
    padding: 10px 0;
    font-size: 2rem;
}
.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 20px;
}
.price {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.new-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}
.old-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 1rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
.btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: background-color 0.25s;
}
.cart {
    margin-right: 10px;
}
.btn button:hover {
    cursor: pointer;
    background-color: hsl(212, 21%, 14%);
}
@media screen and (min-width: 800px){
    .details {
        max-width: 300px;
        padding: 2rem 2rem;
    }
    .details h1 {
        padding: 20px 0;
    }
    .price {
        padding: 30px 0;
    }
}
